<html>
    <head>
        <title>Movie Site</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
        <link rel="stylesheet" href="stylesheets/design.css">
    </head>
        <body>
        <h1 class="text-center" id="searchh1">Search for a movie</h1>
        <form action="/results" method="GET" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-25" placeholder="Enter movie here">
            <button class="text-center btn btn-success ml-3">Search Movie</button> 
        </form>
    </body>
</html>